* {
    spacing: 2;
    background-color: #1d1f21;
    border-color: #fba922;
    text-color: #c5c8c6;
    anchor: south east;
    location: south east;
}
#window {
    font: "Unifont 12";
    width: 20%;
    transparency: "real";
    background-color: #1d1f21;
    border: 0;
    padding: 0% 0% 1em 0%;
    x-offset: -4px;
    y-offset: 16px;
}
#mainbox {
    padding: 0px;
    border: 0;
    spacing: 1%;
}
#message {
    border: 1px; 
    padding: 1em; 
    background-color: #000000FF; 
    text-color: #c5c8c6;
}
#textbox normal {
    text-color: #c5c8c6;
    padding: 0;
    border: 0;
}
#listview {
    fixed-height: 1;
    border: 1px;
    padding: 1em;
    reverse: false;

    columns: 1;
    lines: 6;
    background-color: #1d1f21FF; 
}
#element {
    border: 0;
    padding: 2px;
    highlight: bold ;
}
#element normal.normal {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element normal.urgent {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element normal.active {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element selected.normal {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element selected.urgent {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element selected.active {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element alternate.normal {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element alternate.urgent {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#element alternate.active {
    text-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}
#scrollbar {
    border: 1px;
    padding: 0;
}
#inputbar {
    spacing: 0;
    border: 1px;
    padding: 0.5em 1em;
    background-color: #1d1f21FF;
    index: 0;
}
#inputbar normal {
    foreground-color: #c5c8c6FF;
    background-color: #1d1f21FF;
}

#sidebar {
    border: 1px;
    padding: 0.5em 1em;
    background-color: #000000FF;
    index: 10;
}
#button selected {
    text-color: #000000FF;
}
#inputbar {
    children:   [ textbox-prompt-colon,entry,case-indicator ];
}
#textbox-prompt-colon {
    expand:     false;
    str:        "\s asd>";
    margin:     0px 0.3em 0em 0em ;
    text-color: #c5c8c6;
}